---
import Base from '../layouts/Base.astro';
import { getCollection } from 'astro:content';

const team = await getCollection('team');

---

<Base title="Team">
	<ul>
		{team.map(member => (
			<li class="mt-12 flex flex-col gap-y-2 text-center">
				<img src={member.data.image} alt={member.data.name} class="w-32 h-32 rounded-full object-cover mx-auto" />
				<h2>{member.data.name}</h2>
				<h3>{member.data.role}</h3>
				<p class="max-w-4xl mx-auto">{member.data.about}</p>
			</li>
		))}
	</ul>
</Base>

