---
import Base from '../layouts/Base.astro';
import Title from '../components/Title.astro';
import { getCollection } from 'astro:content';

const team = await getCollection('team');

---

<Base title="Team">
	<div class="mb-14">
		<Title>Our Team</Title>
	</div>
	<ul>
		{team.map(member => (
			<li class="mb-12 flex flex-col gap-y-2 text-center">
				<img src={member.data.image} alt={member.data.name} class="w-32 h-32 rounded-full object-cover mx-auto mb-3" />
				<h2 class="font-semibold text-lg">{member.data.name}</h2>
				<h3 class="font-light text-gray-600">{member.data.role}</h3>
				<p class="max-w-4xl mx-auto">{member.data.about}</p>
			</li>
		))}
	</ul>
</Base>

